---
layout: default
home: true
cover-image: #increase-shopify-conversion-rate.png
cover-image-mobile: #increase-shopify-conversion-rate-mobile.png
---

<style>
::selection {
  background-color: #b00;
  color: #f1f1f1;
}
/*
.bleed { 
  color: #f1f1f1;
  background-color: #B00;
  padding: 0 0.1em;
  margin: 0 -0.1em;
}*/

.bleed {
  color: #b00;  
  /*text-decoration: underline;*/
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.bleed:hover {
  color: #F00;
  /*text-decoration: none;*/
  text-shadow:
   0px 4px 1px #300000,
   0px 6px 1px #500000,
   0px 8px 1px #700000,
   0px 10px 1px #900000,
   0px 12px 1px #B00000,
   0px 14px 1px #D00000,
   0px 16px 1px #F00000,
   0px 18px 1px #FB0000,
   0px 20px 1px #FD0000,
   0px 22px 2px #FF0000;
}

.bleed {
    display: inline-block;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    animation-name: shakeMe;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes shakeMe {
    2%, 18% {
        transform: translate3d(-5px, 0, 0);
    }

    4%, 16% {
        transform: translate3d(5px, 0, 0);
    }

    6%, 10%, 14% {
        transform: translate3d(-5px, 0, 0);
    }

    8%, 12% {
        transform: translate3d(5px, 0, 0);
    }
    
    20% {
        transform: translate3d(0px, 0, 0);
    }
}

</style>

{% for post in paginator.posts %}

{% assign minutes = post.content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
  {% assign read-time = site.var_less_than_a_minute_read %}
{% else %}
  {% assign read-time = minutes | append: "&nbsp;" | append: site.var_min_read %}
{% endif %}

  <article>
  	<a href="{{ post.url | prepend: site.baseurl }}"><h2>{{ post.title }}</h2></a>
    <span class="meta">
      {% if site.display-author-front-page %}
        {% if post.author.name %}
          by {{ post.author.name }} •
        {% else %}
          {% if site.author.name %}
            by {{ site.author.name }} •
          {% endif %}
        {% endif %}
      {% endif %}
      <!-- {{ post.date | date: site.date_format }} • --> {{ read-time }}</span>

      {% comment %}
      <p>        
      {% if post.summary %}
        {{ post.summary }}&nbsp;<a class="read-more" href="{{ post.url | prepend: site.baseurl }}">{{ site.var_read }}  →</a>
      {% else %}
        {{ post.excerpt | remove: '<p>' | remove: '</p>' }}&nbsp;<a class="read-more" href="{{ post.url | prepend: site.baseurl }}">{{ site.var_read }}  →</a>
      {% endif %}      
      </p>
      {% endcomment %}  

  </article>
{% endfor %}

{% if paginator.previous_page or paginator.next_page %}
  {% include pagination.html %}
{% endif %}
