<div class="subtitle" style="margin-bottom: 1em; background-color: #85bb65">
  <div class="wrap">
    <h1>Increase the revenue of your Shopify&nbsp;store</h1>
    <p style="line-height: 2em;">    
        Understand your customers better <br>
        Change your store for the better<br>
        Increase Profits<br>    
    </p>
<!--     <p style="line-height: 2em; margin-bottom: 0px">
      <em>
        Get the first step to increasing your Shopify conversions straight to your inbox:
      </em>      
    </p> -->
    {% include homepage-form.html %}
  </div>
</div>