<!DOCTYPE html>
<html lang="{{ site.lang }}" prefix="og: http://ogp.me/ns#">
<head>
	{% include head.html %}
</head>
<body>
	{% if page.cover-image %}
	<div class="cover-image-container">
		{% if page.cover-image-mobile %}
		<picture>
		  <source media="(min-width: 600px)" srcset="{{ site.baseurl }}/img/covers/{{ page.cover-image }}">
		  <img src="{{ site.baseurl }}/img/covers/{{ page.cover-image-mobile }}" alt="Cover Image">
		</picture>
		{% else %}
		<img alt="Cover image" src="{{ site.baseurl }}/img/covers/{{ page.cover-image }}">		
		{% endif %}
	</div>
	{% endif %}
	{% include header.html %}
	<div class="wrap">
		{% if page.home and site.show-subtitle or page.home and site.display-social-icons %}
		{% include subtitle.html %}
		{% endif %}

		{{ content }}
	  <script>
	    $("article").fitVids();
	    $('article p').each(function(i){
				if (($(this).find('img').length) && (!$.trim($(this).text()).length))  {
					$(this).addClass('img-only');
				}
				if ($.trim($(this).text()).length - $.trim($(this).find('small').text()).length == 0 && ($(this).find('img').length)){
					$(this).addClass('img-only-source');
				}
	  	});
	  </script>
	</div>
	{% include footer.html %}
</body>
</html>
